<div class="nav-wrapper">
    @*<div class="nav justify-content-center">
        <p>Please note there are changes to the regular tour schedule &nbsp; &nbsp;</p>
        <p>
            <button type="button" onclick="document.getElementById('sched-changes').scrollIntoView({behavior:'smooth'})">View Schedule Changes</button>
        </p>
    </div>*@

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <ul>
                <li>
                    Mardi Gras in Mobile.  We hope you can join the fun and revelry of the oldest Mardi Gras in the Western Hemisphere.  The party starts on Friday the 3rd of February with the Conde Cavaliers parading through the streets and ends with Mardi Gras in Tuesday the 21st of February.  19 days of fun and good times.  Bring the family and friends for the fun filled Joe Cain celebration on Sunday the 19th of March - catch a glimpse of our famous Widows an Mistresses!
                    <br />
                    The historic trolley tours will operate on our regular schedule for Mardi Gras but will suspend service from Saturday the 18th through Mardi Gras day.  Regular service will start again on Wednesday the 22nd of February.
                    <br />
                    Please continue to check our website for tour schedules and updates.
                </li>
            </ul>
        </li>
    </ul>
</div>

@code {

}