<div class="nav-wrapper">
    <div class="nav justify-content-center">
        <p>Please note there may be changes to the regular tour schedule &nbsp; &nbsp;</p>
        <p>
            <button type="button" onclick="document.getElementById('sched-changes').scrollIntoView({behavior:'smooth'})">View Schedule Changes</button>
        </p>
    </div>
</div>

@code {

}