@*@layout LoginLayout*@
@page "/login"
@attribute [AllowAnonymous]

@if (!isAuthenticated)
{
    <div class="user-login text-center">
        <EditForm class="form-signin mb-4" Model="@_credential" OnSubmit="@Authenticate">
            <div class="form-group">
                <label for="user-name">User name</label>
                <InputText class="form-control" id="user-name" aria-describedby="emailHelp" placeholder="Indirizzo e-mail" @bind-Value=@_credential.UserName />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText type="password" class="form-control" id="password" placeholder="Password" @bind-Value=@_credential.Password />
            </div>
            <div class="form-group">
                <button type="submit" id="login" name="login" class="btn btn-primary">Login</button>
            </div>
        </EditForm>
    </div>
}

@if (isAuthenticated)
{
    <div class="admin-title">
        <p>>> @_credential.UserName</p>
    </div>

    <AdminControl />
}


@code {

    public class Credential { public string UserName { get; set; } = ""; public string Password { get; set; } = ""; }
    private Credential _credential = new Credential();
    private bool isAuthenticated;

    private void Authenticate()
    {
        var storageConfig = new AzureStorageConfig();
        var isInitialized = TableStorageService.Initialize(storageConfig.TableUsers);

        var users = UserService.GetAllUsers();
        var userAttemptingLogin = users.Where(u => u.UserName == _credential.UserName).FirstOrDefault();

        if (userAttemptingLogin == null)
        {
            return;
        }

        if (userAttemptingLogin.PasswordHash == _credential.Password)
        {
            isAuthenticated = true;
        }
    }
}
